html {
	font-family: Roboto, system-ui, '.SFNSText-Regular'
}

.justify {
	text-align: justify;
}

#divider {
	margin-top: 0px;
}

img.hover-shadow {
  transition: 0.2s;
}

.hover-shadow:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Defaults */
#content-title {
	font-size: 30px;
	margin-bottom: 0px;
}
#content-textarea {
	font-size: 18px;
}
.resource-list {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.resource {
	max-width: 120px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
}

/* For Computers */
@media screen and (min-width: 780px) {
	#content-title {
		font-size: 30px;
		margin-bottom: 0px;
	}
	#content-textarea {
		font-size: 18px;
	}
	.resource-list {
		margin-top: 10px;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
	.resource {
		margin-left: 2px;
		margin-right: 2px;
		max-width: 150px;
		max-height: 150px;
		object-fit: contain;
	}
}